<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Выкл.,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\users\student\documents\github\caedchat\caedchat\wcf_ceadchat_servicelibrary\app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <connectionStrings>
    <add name="ZireaelDb" connectionString="data source=server1;Initial Catalog=1ZiraelDb;Integrated Security=False;User Id=student" providerName="System.Data.SqlClient" />
	  <add name="ZireaelDb1" connectionString="data source=ASUS-PC;Initial Catalog=1ZiraelDb;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="CorporateMail" value="zireaelmessanger@gmail.com" />
    <add key="CorporateMailPass" value="Zireael2018" />
    <add key="CorporateMailHost" value="smtp.gmail.com" />
    <add key="PasswordSalt" value="9xbzUpP2C6fPZt6HA9MenGFaPR7XcJSyr6EPxhzeN5q7VheRVsVAtTa8aSYwyg3UJx" />
    <add key="CheckTimeOnline" value="60000" />
    <add key="LenghtRecoveryCode" value="8" />
    <add key="CountHoursWorkingRecoveryCode" value="1" />
    <add key="PortForEmail" value="587" />
    <add key="TokenLifetime" value="30" />
    <add key="PatternLogin" value="^(?=.*[A-Za-z0-9]$)[A-Za-z][A-Za-z\d]{5,24}$"/>
    <add key="PatternPassword" value="^(?=.*[a-zа-я])(?=.*[A-ZА-Я]).{8,32}$" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <diagnostics wmiProviderEnabled="true" performanceCounters="All">
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
      <endToEndTracing messageFlowTracing="true" />
    </diagnostics>
    <services>
      <service name="Wcf_CeadChat_ServiceLibrary.CeadChatService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="Wcf_CeadChat_ServiceLibrary.ICeadChatService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Wcf_CeadChat_ServiceLibrary/Chat/" />
            <add baseAddress="net.tcp://localhost:8743/Design_Time_Addresses/Wcf_CeadChat_ServiceLibrary/Chat/" />
          </baseAddresses>
          <timeouts openTimeout="00:05:00" />
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>