<div class="page_wrap" ng-view="">
    <div class="login_page_wrap" my-custom-background="#e7ebf0">
        <div class="login_head_bg"></div>
        <div class="login_page">
            <div class="login_head_wrap clearfix">

                <a class="login_head_logo_link" href="#" target="_blank">
                    <i class="icon icon-tg-logo"></i>
                    <p class="icon-tg-title">Zireael</p>
                </a>
            </div>

            <div class="login_form_wrap">

                <form name="mySendCodeForm">
                    <h3 class="login_form_head">Вход</h3>
                    <div class="login_phone_groups_wrap clearfix">
                        <div class="md-input-group login_phone_num_input_group md-input-animated md-input-has-value">
                            <label class="md-input-label">Логин</label>
                            <input required="" autocomplete="off" class="md-input" name="phone_number" type="text">
                        </div>

                        <div class="md-input-group login_phone_num_input_group md-input-animated md-input-has-value">
                            <label class="md-input-label">Пароль</label>
                            <input required="" autocomplete="off" class="md-input" name="phone_number" type="text">
                        </div>

                        <div class="md-input-group login_phone_num_input_group md-input-animated md-input-has-value">
                            <input type="submit" value="Войти">
                        </div>

                        <div class="login_footer_wrap">
                            <a class="logo_footer_learn_more_link" href="#">Забыл пароль</a>
                            <a class="logo_footer_learn_more_link" href="#">Регистрация</a>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <div class="login_footer_wrap">
                    <p >Welcome to the official Zireael web-client.</p>
                    <a class="logo_footer_learn_more_link" href="#">Learn more</a>
                </div>
            </div>
        </div>
    </div>
