<script async src="~/Scripts/auth.js"></script>
@Styles.Render("~/Content/Site.css")
<div class="page_wrap" ng-view="">
    <div class="login_page_wrap" my-custom-background="#e7ebf0">
        <div class="login_head_bg"></div>
        <div class="login_page">
            <div class="login_head_wrap clearfix">
                <a class="login_head_logo_link" href="/">
                    <i class="icon icon-tg-logo"></i>
                    <p class="icon-tg-title">Zireael</p>
                </a>
            </div>

            <div class="login_form_wrap">
                <div id="replace">
                    @*<input id="ibofg" type="submit" style="display:none" />
                        <script>
                            document.querySelector("#ibofg").click();
                        </script>*@
                    @{Html.RenderPartial("PartialLogin");}
                </div>
            </div>
            <div class="login_footer_wrap">
                <p>Welcome to the official Zireael web-client.</p>
                @Ajax.ActionLink("Learn more", "AuthAjax", "Home", new { type = "learn" }, new AjaxOptions { UpdateTargetId = "replace", LoadingElementId = "loading", LoadingElementDuration = 0, OnFailure = "OnFailure", HttpMethod = "POST" }, new { @class = "logo_footer_learn_more_link" })
            </div>
        </div>
    </div>
</div>
