@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/main_style.css")
<div my-head="">
    <div class="tg_page_head tg_head_wrap noselect clearfix">
        <div class="tg_head_split">

            <div class="tg_head_logo_wrap">
                <div class="tg_head_logo_dropdown dropdown" dropdown="" style="">
                    <a class="tg_head_btn dropdown-toggle main-menu" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                        <div class="icon-hamburger-wrap">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div><p class="icon icon-tg-title">Zireael</p>
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a>
                                <i class="icon icon-new-group"></i><span my-i18n="im_new_group">Создать группу</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="icon icon-contacts"></i><span my-i18n="im_contacts">Контанты</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="icon icon-settings"></i><span my-i18n="im_settings">Настройки</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="icon icon-about"></i><span my-i18n="head_about">Выход</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tg_head_main_wrap">
                <div class="tg_head_main_peer_wrap" style="">

                    <div class="tg_head_peer_dropdown tg_head_peer_media_dropdown dropdown" dropdown="">
                        <a class="tg_head_btn dropdown-toggle dots" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a my-i18n="head_select_messages">Select messages</a></li>
                            <li class="divider ng-scope"></li>
                            <li><a my-i18n="head_media_photos">Photos</a></li>
                            <li><a my-i18n="head_media_video">Videos</a></li>
                            <li><a my-i18n="head_media_documents">Files</a></li>
                            <li><a my-i18n="head_media_music">Audio</a></li>
                            <li><a my-i18n="head_media_links">Shared links</a></li>
                            <li><a my-i18n="head_media_audio">Voice messages</a></li>
                            <li><a my-i18n="head_media_round">Video messages</a></li>
                        </ul>
                    </div>

                    <a class="tg_head_btn tg_head_peer_search_btn">
                        <i class="icon icon-search"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/main.js")