<div class="md-input-group login_phone_num_input_group md-input-animated md-input-has-value">
    <label class="md-input-label">Введите новый пароль</label>
    <input required=""  class="md-input" name="pass" type="password">
</div>
<div class="md-input-group login_phone_num_input_group md-input-animated md-input-has-value">
    <label class="md-input-label">Повторите пароль</label>
    <input required="" class="md-input" name="repPass" type="password">
</div>
<div class="md-input-group login_phone_num_input_group md-input-animated md-input-has-value">
    <label class="md-input-label">Введите код отправленный на почту</label>
    <input required="" class="md-input" name="code" type="text">
</div>
<div class="md-input-group login_phone_num_input_group md-input-animated md-input-has-value non_border">
        <input type="submit" value="Сменить пароль">
</div>
