@using Web.ServiceReference1;
@using AdditionsLibrary;
@{ 
    var user = ViewData.Model as UserWCF;
}
<div class="settings-header">
    <div class="profile contact">
        <div class="wrap-img">
            <label>
                <img src="/user/@(user.Id)/@(HashCode.GetMD5(user.DisplayName))" alt="logo">
                <input type="file"/>
            </label>
        </div>
        <div class="super">
            <div class="super-top">
                <h3>@(user.DisplayName)</h3>
            </div>
            <div class="super-bottom">
                <p class="time">@(user.IsOnline?"Online" : DateTimeToOnlineStringConverter.Convert(user.LastTimeOnline))</p>
            </div>
        </div>
    </div>
</div>
<div class="settings-container">
    <a class="button setting change-login">Сменить логин</a>
    <a class="button setting change-display-name">Сменить отображаемое имя</a>
    <a class="button setting change-password">Сменить пароль</a>
    <a class="button setting change-email">Сменить почту</a>
</div>