@using Web.ServiceReference1;
@*//@model UserBaseWCF[]*@

@*@Styles.Render("~/Content/temp-vlad.css")*@
<div class="search-container">
    <i class="icon icon-search-contact"></i>
    <input class="search" placeholder="Поиск" name="search" type="text">
</div>
<div class="scrollbar-macosx scrollbar-macosx-contacts">
    <ul class="contacts-container">
        @{
            foreach (var user in ViewData.Model as UserBaseWCF[])
            {
                var md5 = AdditionsLibrary.HashCode.GetMD5(user.DisplayName);
                <li>
                    <a data-id="@user.Id" class="contact">
                        <div class="wrap-img">
                            <img src="/user/@user.Id/@md5" alt="logo">
                        </div>
                        <div class="super">
                            <div class="super-top">
                                <h3>@user.DisplayName</h3>
                            </div>
                            <div class="super-bottom">
                                <p class="time">последний онлайн @user.LastTimeOnline.ToLocalTime()</p>
                            </div>
                        </div>
                    </a>
                </li>
            }
        }
    </ul>
</div>
<a class="new-contact">Новый контакт</a>
