@using (Ajax.BeginForm("ChangePassword", "Home", new { },
new AjaxOptions { LoadingElementId = "loading", LoadingElementDuration = 1000, OnBegin = "OnBegin", OnSuccess = "ChangePasswordSuccess", OnFailure = "OnFailure", HttpMethod = "POST" },
new { @class = "form" }))
{
    <div class="md-input-group login_phone_num_input_group md-input-animated md-input-has-value">
        <label class="md-input-label">Введите логин или почту</label>
        <input  disabled class="md-input" name="loginOrEmail" type="email" value="@ViewBag.Email">
    </div>
    <div class="md-input-group login_phone_num_input_group md-input-animated md-input-has-value">
        <label class="md-input-label">Введите новый пароль</label>
        <input required="" class="md-input" name="pass" type="password">
    </div>
    <div class="md-input-group login_phone_num_input_group md-input-animated md-input-has-value">
        <label class="md-input-label">Повторите пароль</label>
        <input required="" class="md-input" name="repPass" type="password">
    </div>
    <div class="md-input-group login_phone_num_input_group md-input-animated md-input-has-value">
        <label class="md-input-label">Введите код отправленный на почту</label>
        <input required="" autocomplete="off" class="md-input" name="code" type="text">
    </div>
    <div class="md-input-group login_phone_num_input_group md-input-animated md-input-has-value non_border">
        <input type="submit" value="Сменить пароль">
    </div>
}