<h3 class="login_form_head">Восстановление пароля</h3>
<div class="login_phone_groups_wrap clearfix">
    <div id="restoreCode">
        @using (Ajax.BeginForm("SendCodeForChangePassword", "Home", new { },
       new AjaxOptions { UpdateTargetId = "restoreCode", LoadingElementId = "loading", LoadingElementDuration = 0, OnBegin = "OnBegin", OnSuccess = "SendCodeSuccess", OnFailure = "OnFailure", HttpMethod = "POST" },
       new { @class = "form" }))
        {
            <div class="md-input-group login_phone_num_input_group md-input-animated md-input-has-value">
                <label class="md-input-label">Введите логин или почту</label>
                <input required="" autocomplete="email" class="md-input" name="loginOrEmail" type="text">
            </div>

            <div class="md-input-group login_phone_num_input_group md-input-animated md-input-has-value non_border">
                <input type="submit" value="Отправить код подтверждения">
            </div>
        }
    </div>
</div>
<div class="login_footer_wrap">
    @Ajax.ActionLink("Назад", "AuthAjax", "Home", new { type = "log" }, new AjaxOptions { UpdateTargetId = "replace", LoadingElementId = "loading", LoadingElementDuration = 0, OnFailure = "OnFailure", HttpMethod = "POST" }, new { @class = "logo_footer_learn_more_link" })
</div>