@using Web.ServiceReference1;
@using AdditionsLibrary;
@{ 
    var user = ViewData.Model as UserWCF;
}
<div class="settings-header">
    <a class="contact">
        <div class="wrap-img">
            <img src="/user/@(user.Id)/@(HashCode.GetMD5(user.DisplayName))" alt="logo">
        </div>
        <div class="super">
            <div class="super-top">
                <h3>@(user.DisplayName)</h3>
            </div>
            <div class="super-bottom">
                <p class="time">последний онлайн 05.06.2019 15:15:48</p>
            </div>
        </div>
    </a>
</div>
<div class="settings-container">
    <a class="button">Сменить логин</a>
    <a class="button">Сменить пароль</a>
    <a class="button">Сменить почту</a>
</div>