<h3 class="login_form_head">Вход</h3>
<div class="login_phone_groups_wrap clearfix">
    @using (Ajax.BeginForm("Login", "Home", new { },
       new AjaxOptions { LoadingElementId = "loading", LoadingElementDuration = 0, OnSuccess = "OnSuccess", HttpMethod = "POST" },
       new { @class = "form" }))
    {
        <div class="md-input-group login_phone_num_input_group md-input-animated md-input-has-value">
            <label class="md-input-label">Логин</label>
            <input required="" autocomplete="off" class="md-input" name="login" type="text">
        </div>

        <div class="md-input-group login_phone_num_input_group md-input-animated md-input-has-value">
            <label class="md-input-label">Пароль</label>
            <input required="" autocomplete="off" class="md-input" name="password" type="password">
        </div>

        <div class="md-input-group login_phone_num_input_group md-input-animated md-input-has-value non_border">
            <input type="submit" value="Войти">
        </div>
    }
    <div class="login_footer_wrap">
        @Ajax.ActionLink("Забыли пароль?", "AuthAjax", "Home", new { type = "pass" }, new AjaxOptions { UpdateTargetId = "replace", LoadingElementId = "loading", LoadingElementDuration = 1000, OnFailure = "OnFailure", HttpMethod = "POST" }, new { @class = "logo_footer_learn_more_link" })
        @Ajax.ActionLink("Регистрация", "AuthAjax", "Home", new { type = "reg" }, new AjaxOptions { UpdateTargetId = "replace", LoadingElementId = "loading", LoadingElementDuration = 1000, OnFailure = "OnFailure", HttpMethod = "POST" }, new { @class = "logo_footer_learn_more_link" })
    </div>
</div>

<script>
    function OnSuccess(data) {
        if (data) {
            if (data.code === "OK") {
                location.pathname = "/";
            }
            else if (data.code === "ERROR") {
                //console.log(data.error, true);
                popup(data.error, 'error')
            }
            else {
                //console.log("Мы потеряли связь с космосом, пытаемся восстановить квантовый соединитель. Попробуй позже", true);
                popup("Мы потеряли связь с космосом, пытаемся восстановить квантовый соединитель. Попробуйте позже", 'error')
            }
        }
    }
</script>