@using Web.ServiceReference1;

<div class="search-container">
    <input class="group-name" placeholder="Имя групы (только для многопользовательких)" type="text">
</div>
<div class="search-container">
    <input class="group-description" placeholder="Описание группы (не обязательно)" type="text">
</div>
<div class="scrollbar-macosx scrollbar-macosx-creategroup">
    <ul class="contacts-container">
        @{
            foreach (var user in ViewData.Model as UserBaseWCF[])
            {
                var md5 = AdditionsLibrary.HashCode.GetMD5(user.DisplayName);
                <li>
                    <a data-id="@user.Id" class="contact">
                        <div class="wrap-img">
                            <img src="/user/@user.Id/@md5" alt="logo">
                        </div>
                        <div class="super">
                            <div class="super-top">
                                <h3>@user.DisplayName</h3>
                            </div>
                            <div class="super-bottom">
                                <p class="time">@(AdditionsLibrary.DateTimeToOnlineStringConverter.Convert(user.LastTimeOnline))</p>
                            </div>
                        </div>
                    </a>
                </li>
            }
        }
    </ul>
</div>
<a class="button create-group">Создать</a>