
.wrap {
    margin: auto;
    width: 1010px;
    display: flex;
    border: 1px solid rgba(40, 70, 101, 0.17);
    border-top: 0;
    height: calc(100vh - 66px);
}

.chats {
    width: 340px;
    /*TODO адаптивность*/
}

    .chats ul {
        overflow-y: auto;
        height: 100%;
    }

.messages {
    width: 100%;
    border-left: 1px solid rgba(40, 70, 101, 0.17);
}

.chats a {
    display: flex;
    align-items: stretch;
    text-decoration: none;
    padding: 7px;
    /*border-bottom: 1px solid rgba(40, 70, 101, 0.17);*/
}

.wrap-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: relative;
}

    .wrap-img img {
        max-height: 100%;
    }



.super {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0;
    width: calc(100% - 58px);
}

    .super > div {
        margin-right: 5px;
    }

.super-top, .super-bottom {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: flex-start;
}

    .super-top h3 {
        color: #284665;
    }

p.time {
    color: #00000080;
    font-size: 12px;
    line-height: 12px;
    padding-right:50px;
    text-align:center;
}

.super-top p.time {
    padding-right: 0;
}

p.last-message {
    color: #00000080;
    font-size: 14px;
    line-height: 14px;
}

.super-bottom {
    align-items: flex-end;
}

span.count-unred-messages {
    background: #00000080;
    color: #fff;
    border-radius: 20px;
    padding: 1px 5px;
    font-size: 11px;
}

.chats .active a {
    background: #4070a0;
    /* color: #fff; */
}

.active span.count-unred-messages {
    display: none;
}

.active p.last-message {
}

.active .super-top h3, .active .time, .active p.last-message {
    color: #fff;
}

.chats li.active a:hover {
    background: #4070a0;
}

.chats li a:hover {
    background: rgba(40, 70, 101, 0.1);
}

.wrap-img.letter h2 {
    float: none;
    position: absolute;
    font-size: 35px;
    color: WHITE;
    width: 48px;
    height: 48px;
    text-align: center;
    padding-top: 16px;
    text-transform:uppercase;
}

.wrap-img.letter img {
    float: none;
}


/*



*/

.mega{
    display:flex;
    justify-content:space-between;
}

.panel-write {
    margin-top: 20px;
}

.checked-btn {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: 0; */
    /* height: 100%; */
    position: relative;
}
.message-list li {
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-start; */
    padding: 10px 0;
}

a.checked-btn-on {
    width: 26px;
    height: 26px;
    /* display: block; */
    /* margin: auto; */
    opacity: 0;
}

.message-list li:hover .checked-btn-on {
    opacity: .5;
}

.message-list li.active .checked-btn-on {
    opacity: 1;
}

.message-list li:hover {
    background: #f2f6fa;
}

.mega-right {
    width: 150px;
}

.mega-left {
    width: calc(100% - 300px);
    padding-right: 10px;
}

    .mega-left h3 {
        line-height: normal;
        font-size: 14px;
        color: #284665;
    }

.mega-right p.time {
    line-height: normal;
    font-size: 12px;
}

input#file {
    display: none;
}

label[for=file] {
    width: 26px;
    height: 26px;
    display: block;
    /*background: #000;*/
}

.checked-btn.not-read::before {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #4a99ea;
    position: absolute;
    right: 10px;
    top: 23px;
    z-index: 100000;
}

.line-write {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

textarea[name=msg] {
    width: 380px;
    margin: 0 27px;
    resize: none;
    border: 0;
    border-bottom: 1px solid #000;
    outline: none;
    height: 50px;
}

ul.message-list {
    /* height: calc(100% - 57px); */
    /* overflow: scroll; */
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    /* height: 100%; */
    position: absolute;
    bottom: 0;
    width:100%;
}
ul.message-list.activeUl {
    display:flex;
}

    .message-list-wrap {
    height: calc(100% - 81px);
    /* overflow-y: scroll; */
    position: relative;
}


.my-head {
    position: relative;
    z-index: 1550;
}

textarea[name=msg]:focus {
    border-bottom-color: lightblue;
}

a.send {
    width: 30px;
    height: 30px;
    background: #000;
}

li.systemMsg {
    user-select: none;
    background: #fff;
    justify-content: center;
}

    li.systemMsg:hover {
        background: #fff;
    }

.systemMsg span {
    background: #f2f6fa;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    color: #284665;
}
.icon-file {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url(../Content/Images/Icons2.png);
    background-repeat: no-repeat;
    background-position: -9px -100px;
    vertical-align: middle;
    opacity: 0.9;
}
.append-file {
    padding-left: 18px;
}