
.modal-backdrop {
    background: rgba(26,26,26,.7);
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:1600;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.modal-backdrop-dialog {
    padding:10px;
    background:#Fff;
}

.dialog{
    width:480px;
    max-height:700px;
}

    .dialog h2 {
        font-weight: 700;
        padding: 0 5px;
        font-size: 13px;
    }

a.md_modal_action_close {
    padding-right: 10px;
}

a.md_modal_action {
    display: block;
    color: #000;
    font-weight: 700;
    text-decoration:none;
}

.dialog-header{
    display:flex;
    justify-content:space-between;
}

.hide{
    display:none;
}