.search-container {
    display: flex;
    padding: 0px 10px;
    margin: 0px 0px 10px 0px;
    flex-direction: row;
    border-bottom: 2px solid #0000002b;
    align-items: center;
}

    .search-container .search {
        width: 100%;
        padding: 0px 10px 5px 10px;
        height: 25px;
        outline:none;
        border: none;
    }

.contacts-container {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    height:100%;
}
    .contacts-container a:hover{
        text-decoration:none;
    }
    .search-container .icon-search {
        /*background-color:black;*/
    }

.contact {
    display: flex;
    flex-direction: row;
    padding: 5px 15px;
}
    .contact:hover {
        background: #d3d3d373;
    }


a.md_modal_action.md_modal_action_close:hover {
    color: #c1e2ff;
    text-decoration: none;
}

.scrollbar-macosx-contacts {
    height: calc(100vh - 165px);
}

.new-contact {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    color: #2f6ea5;
    font-weight: bold;
    height: 30px;
    align-items: center;
    margin-top: 5px;
}
a.new-contact:hover {
    text-decoration: none;
    background: #d3d3d373;
}
.contact p.time{
    padding-right:0px;
}