.search-container {
    display: flex;
    padding: 0px 10px;
    margin: 0px 0px 10px 0px;
    flex-direction: row;
    border-bottom: 2px solid #0000002b;
    align-items: center;
}

    .search-container .search {
        width: 100%;
        padding: 0px 10px 5px 10px;
        height: 25px;
        outline: none;
        border: none;
        margin-top: 10px;
    }
    .search-container .group-name {
        width: 100%;
        padding: 0px 10px 5px 10px;
        height: 25px;
        outline: none;
        border: none;
        margin-top: 10px;
    }
    .search-container .group-description {
        width: 100%;
        padding: 0px 10px 5px 10px;
        height: 25px;
        outline: none;
        border: none;
    }
    .search-container .icon-search-contact {
        margin-top: 10px;
    }
.contacts-container {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    height:100%;
}
    a:hover {
        text-decoration: none;
    }


.contact {
    display: flex;
    flex-direction: row;
    padding: 5px 15px;
}
    .contact.select h3 {
        color: white;
    }
    .contact.select p.time {
        color: white;
    }
    /*.contact.select:hover{

    }*/
    .contact:not(.profile):not(.select):hover {
        background: #d3d3d373;
    }
.profile {
    border-bottom: 3px solid #0000000d;
    padding-bottom: 10px;
    background: #2f6da5;
}
    .profile .super-top h3{
        color:white;
    }
    .profile p.time{
        color:white;
    }
a.md_modal_action.md_modal_action_close:hover {
    color: #c1e2ff;
    text-decoration: none;
}

.scrollbar-macosx-contacts {
    /*height: calc(100vh - 165px);*/
}

.scrollbar-macosx-creategroup {
    /*height: calc(100vh - 205px);*/
}

.new-contact {
    width: 100%;
    margin: auto;
    font-weight: bold;
}

.contact p.time{
    padding-right:0px;
}

.sub-modal-dialog {
    display: flex;
    background: rgba(26,26,26,.7);
    position: absolute;
    z-index: 1601;
    width: 480px;
    height: calc(100vh - 31px);
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 12px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 12px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 12px rgba(0,0,0,0.4);
}
.sub-dialog-container {
    background: white;
    padding: 15px 15px 5px 15px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 12px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 12px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 12px rgba(0,0,0,0.4);
}
    .sub-dialog-container h3 {
        margin: 10px 0px;
        color: #284665;
        font-size:16px;
    }
    .dialog .sub-dialog-container h2{
        margin:10px;
    }
    .sub-dialog-container .text {
        display:block;
        height: 25px;
        outline: none;
        border: none;
        width: 100%;
        margin: 10px 0px;
        border-bottom: 2px solid #0000004f;
    }
.new-contact-btn-container {
    display: flex;
    justify-content: flex-end;
}
a.btn-cancel {
    margin: 5px 0px 5px 10px;
}
a.btn-add-contact {
    font-weight: bold;
    margin: 5px 0px 5px 10px;
}
a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #2f6ea5;
    font-size: 14px;
    margin-top: 5px;
    text-transform: uppercase;
    height: 30px;
    padding: 10px;
}
    a.button:hover {
        text-decoration: none;
        background: #d3d3d373;
    }

a.contact.select {
    background: #2f6da5;
}
a.button.delete-contact {
    color: red;
    font-weight: bold;
}
a.button.delete-contact.hide{
    display:none;
}
a.button.new-contact.hide{
    display:none;
}
a.button.btn-delete-contact {
    color: red;
    font-weight: bold;
}
.create-group{
    font-weight:bold;
}
.settings-container {
    margin-top: 5px;
}
.settings-container .button {
    padding: 20px;
    margin-top: 0px;
}
.info-container {
    /*padding-left: 10px;*/
    color: #000000a8;
}
    .info-container p {
        margin-left: 10px;
    }
a.button.btn-change-login {
    font-weight: bold;
}
a.button.btn-change-display-name {
    font-weight: bold;
}
.button.setting:hover{
    font-weight:bold;
}
a.button.btn-change-password {
    font-weight: bold;
}
.new-email {
    /*border: 3px solid #0000000f;*/
    padding: 10px;
}
a.button.btn-change-email {
    font-weight: bold;
}

.sub-dialog-container .code.hide{
    display:none;
}
.wrap-img label{
    height:100%;
}
.wrap-img input[type=file]{
    display:none;
}