input[disabled], input[disabled].md-input {
    background-color: #e0dede;
    border: 1px solid #e0dede;
    margin: 7px, 0 !important;
}

    input[disabled]:hover, input[disabled].md-input:hover {
        background-color: #e0dede;
        border: 1px solid #e0dede;
    }

.emailFlex{
    display:flex;
    flex-direction:row;
}